body {
	margin: 0;
	font-family: sans-serif;
	background-color: #222;
	color: #ddd;
	text-align: center;
}
.App {
	width: 90%;
	margin: 0 auto;
}
h1 {
	color: #ffff57;
	font-size: 4rem;
	letter-spacing: 2px;
}
button {
	margin: 0 10px;
	background: transparent;
	border: 3px solid #ccc;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 10px;
	color: #ccc;
	font-size: 1.2rem;
	cursor: pointer;
}
button:hover {
	color: #fff;
	border-color: #fff;
}

.content {
	text-align: left;
}
